.mule/apps/contact-management-api/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<http:listener-config name="api-httpListenerConfig"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<apikit:config name="api-config" raml="api.raml"
		consoleEnabled="false" doc:name="Router" />
		
	<flow name="api-main">
		<http:listener config-ref="api-httpListenerConfig" path="/api/*"
			doc:name="HTTP" />
		<apikit:router config-ref="api-config" doc:name="APIkit Router" />
		<exception-strategy ref="global_Exception_Strategy"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="api-console">
		<http:listener config-ref="api-httpListenerConfig" path="/console/*"
			doc:name="HTTP" />
		<apikit:console config-ref="api-config" doc:name="APIkit Console" />
	</flow>

	<flow name="get:/contacts/{customerId}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />
		<set-variable variableName="apiMethod" value="getContacts"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<logger message="The customerId is #[flowVars.customerId]"
			level="INFO" doc:name="Logger" />
		<flow-ref name="WRK_getContact" doc:name="Flow Reference" />
	</flow>
	
	<flow name="delete:/contacts/{customerId}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="deleteContact"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />

		<flow-ref name="WRK_deleteContact" doc:name="WRK_deleteContact" />
	</flow>
	
	<flow name="post:/contacts:api-config">
		<set-property propertyName="http.status" value="#['201']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="addContact"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<flow-ref name="WRK_addContact" doc:name="Flow Reference" />
	</flow>
	
	<flow name="put:/contacts/{customerId}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="updateContact"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<flow-ref name="WRK_updateContact" doc:name="Flow Reference" />
	</flow>

	<flow name="get:/contacts/{customerId}/addresses:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="getAddresses"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="addressType"
			value="#[message.inboundProperties.'http.uri.params'.addressType]"
			doc:name="Variable" />
		<flow-ref name="WRK_getAddress" doc:name="Flow Reference" />
	</flow>
	
	<flow name="get:/contacts/{customerId}/addresses/{addressType}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="getAddressByType"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="addressType"
			value="#[message.inboundProperties.'http.uri.params'.addressType]"
			doc:name="Variable" />
		<flow-ref name="WRK_getAddress" doc:name="Flow Reference" />
	</flow>

	<flow
		name="delete:/contacts/{customerId}/addresses/{addressType}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />
		<set-variable variableName="apiMethod" value="deleteAddressByType"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="addressType"
			value="#[message.inboundProperties.'http.uri.params'.addressType]"
			doc:name="Variable" />
		<flow-ref name="WRK_deleteAddress" doc:name="Flow Reference" />
	</flow>
	
	<flow name="post:/contacts/{customerId}/addresses:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="updateAddress"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<flow-ref name="WRK_addAddress" doc:name="Flow Reference" />
	</flow>
	
	<flow name="put:/contacts/{customerId}/addresses/{addressType}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="updateAddressByType"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="addressType"
			value="#[message.inboundProperties.'http.uri.params'.addressType]"
			doc:name="Variable" />
		<flow-ref name="WRK_updateAddress" doc:name="Flow Reference" />
	</flow>

	<flow
		name="put:/contacts/{customerId}/communications/{communicationType}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="updateCommunicationByType"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="communicationType"
			value="#[message.inboundProperties.'http.uri.params'.communicationType]"
			doc:name="Variable" />
		<flow-ref name="WRK_updateCommunication" doc:name="Flow Reference" />
	</flow>


	<flow
		name="delete:/contacts/{customerId}/communications/{communicationType}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="deleteCommunicationByType"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="communicationType"
			value="#[message.inboundProperties.'http.uri.params'.communicationType]"
			doc:name="Variable" />
		<flow-ref name="WRK_deleteCommunication" doc:name="Flow Reference" />
	</flow>


	<flow
		name="get:/contacts/{customerId}/communications/{communicationType}:api-config">
		<set-property propertyName="http.status" value="#['200']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="getCommunicationByType"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="communicationType"
			value="#[message.inboundProperties.'http.uri.params'.communicationType]"
			doc:name="Variable" />
		<flow-ref name="WRK_getCommunication" doc:name="Flow Reference" />
	</flow>


	<flow name="post:/contacts/{customerId}/communications:api-config">
		<set-property propertyName="http.status" value="#['201']"
			doc:name="Property" />

		<set-variable variableName="apiMethod" value="getCommunications"
			doc:name="Variable" />
		<set-variable variableName="correlationId" value="#[message.id]"
			doc:name="Variable" />
		<set-variable variableName="customerId"
			value="#[message.inboundProperties.'http.uri.params'.customerId]"
			doc:name="Variable" />
		<set-variable variableName="communicationType"
			value="#[message.inboundProperties.'http.uri.params'.communicationType]"
			doc:name="Variable" />
		<flow-ref name="WRK_addCommunication" doc:name="Flow Reference" />
	</flow>

	<apikit:mapping-exception-strategy
		name="api-apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
</mule>
